@import "tailwindcss";
@import './base.css';

/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  background-color: #006D5A;
} */

body {
  background-color: #BEE46C;
  font-family: "Outfit", sans-serif;
  background-image: url("../assets/lines-grid.png");
  background-repeat: repeat;
  background-size: 20%;
  background-position: center;
}

/* #006D5A */